.App {
  min-height: 100vh;
}

/* Hide scrollbars for horizontal scrollers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}
